@import url('https://fonts.googleapis.com/css?family=Raleway:700,900');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}



/************** HOME - BANNERS ******************/


.logo{
  width: 600px ;
  position: relative;
  z-index: 1;
  top: 10vh;
  margin: 0;
  padding: 0;
}

.tituloheader{
  color:#ffffff ;
  font-size: 25vh;
  font-weight: 500;
  color: transparent;
  text-shadow: 0 0 0px rgb(255, 255, 255);
  margin-top: -20vh;
  text-align: left !important;
 
  letter-spacing: 3px;
}

.tituloheader2{
  color:#ffffff ;
  font-size: 25vh;
  font-weight: 200;
  color: transparent;
  text-shadow: 0 0 0px rgb(255, 255, 255);
  margin-top: 50vh;
  text-align: left !important;
  margin-left: 37vw;
  letter-spacing: 3px;
}

.tituloheadernosotros{
  color:#ffffff ;
  font-size: 15vh;
  font-weight: 500;
  color: transparent;
  text-shadow: 0 0 0px rgb(255, 255, 255);
  margin-top: 50vh;
  text-align: left !important;
  margin-left: 30vw;
  letter-spacing: 3px;
}

.tituloheadereventos{
  color:#ffffff ;
  font-size: 15vh;
  font-weight: 500;
  color: transparent;
  text-shadow: 0 0 0px rgb(255, 255, 255);
  margin-top: 50vh;
  text-align: left !important;
  margin-left: 33vw;
  letter-spacing: 3px;
}

.tituloheadercontacto{
  color:#ffffff ;
  font-size: 15vh;
  font-weight: 500;
  color: transparent;
  text-shadow: 0 0 0px rgb(255, 255, 255);
  margin-top: 50vh;
  text-align: left !important;
  margin-left: 30vw;
  letter-spacing: 3px;
}

.tituloheaderartistas{
  color:#ffffff ;
  font-size: 15vh;
  font-weight: 500;
  color: transparent;
  text-shadow: 0 0 0px rgb(255, 255, 255);
  margin-top: 50vh;
  text-align: left !important;
  margin-left: 33vw;
  letter-spacing: 3px;
}

.subtituloheader{
  color:#ffffff ;
  font-size: 3vh;
  font-weight: 200 !important;
  color: transparent;
  text-shadow: 0 0 1px rgb(255, 255, 255);
  margin-top: 56vh;
  text-align: left !important;
  margin-left: 12vw;
}

.subtituloheader2{
  color:#ffffff ;
  margin-top: 68vh;
  /* text-align: left !important;
  margin-left: 37.8vw; */
  font-weight: 100;
  font-size: 20px;
  text-align: center;
}

.subtituloheadernosotros{
  color:#ffffff ;
  margin-top: 70vh;
  text-align: left !important;
  margin-left: 42vw;
  font-weight: 100;
  font-size: 20px;
}

.subtituloheadereventos{
  color:#ffffff ;
  margin-top: 70vh;
  text-align: left !important;
  margin-left: 37vw;
  font-weight: 100;
  font-size: 20px;
}

.subtituloheadercontacto{
  color:#ffffff ;
  margin-top: 70vh;
  text-align: left !important;
  margin-left: 39vw;
  font-weight: 100;
  font-size: 20px;
}

.subtituloheaderartistas{
  color:#ffffff ;
  margin-top: 70vh;
  text-align: left !important;
  margin-left: 39vw;
  font-weight: 100;
  font-size: 20px;
}

.gradient{
  background: rgb(102,103,171);
  background: linear-gradient(228deg, rgba(102,103,171,0.7) 0%, rgba(74,126,191,0.7) 100%); 

}




.gradientvideo{
  background: rgb(102,103,171);
  background: linear-gradient(228deg, rgba(102,103,171,0.7) 0%, rgba(74,126,191,0.7) 100%); 
}



/************** HOME - EQUIPO ******************/

.contenedor-equipo{
  background-color: #6D33A6;
}


.p-equipo{
  font-size: 20px;
  text-align: left !important;
  margin-left: 40px;
  color: #ffffff;
  margin-right: 40px;
}

.t-equipo{
  text-align: left !important;
  margin-top: 40px;
  margin-left: 30px;
  font-size: 40px;
  font-weight: 900;
  color: #ffffff;
}


/************** HOME - VIDEO ******************/

.container-video{
  background: #6D33A6;
  width: 100% !important;
}

.container-video video{
  width: 100%;
}


/************** HOME - MISION ******************/
.contain-mision{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 20px;
}
.contenedor-iconos{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.iconos{
  margin: 2%;
}

.div-icono{
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  
  
  
}


.t-icono{
  color:#4e4f84;
  margin-top: 5vh;
  font-size: 40px;
  font-weight: 100;
}

.p-icono{
  color:#4e4f84;
  font-size: 20px;
  font-weight: 100;
}

.st-icono{
  color:#4e4f84;
  margin-top: 2vh;
  font-size: 30px;
  font-weight: 500;
}

.sp-icono{
  color:#4e4f84;
  font-size: 20px;
  font-weight: 100;
}





/************** HOME - NOSOTROS ******************/

.contenedor-nosotros{
  display: flex;
  flex-direction: column;
  background-image: url(../home/img/nosotrosbold.PNG);
  width: 100% !important;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-size: cover;
  line-height: 50px;
  background-position: center;

  
}

.t-nosotros{
  color:#ffffff;
  font-size: 40px;
  font-weight: 400;
  margin-top: 5%;
}


.btn-nosotros{
  background-color: #6667AB;
  color: #ffffff;
  border-style: none;
  border-radius: 100px;
  font-size: 25px;

}

.p-nosotros{
  color:#ffffff;
  font-size: 3.5vmin;
  font-weight: 400;
 
}


.btn-nosotros:hover{
  background-color: var( --color-yellow);
  color: #ffffff;
}


/************** HOME - FRASE ******************/

/* Sections */
.section{
  height: 100vh;
  min-height: 500px;
  position: relative;
}

/* Containers */
.content-container{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  clip: rect(auto, auto, auto, auto);
  pointer-events: none;
}
.content-inner{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 0;
  z-index: 99;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  -webkit-perspective: 1000;
  perspective: 1000;
  pointer-events: all;
}
.content-center{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 4%;
  
}


/* Aesthetics */
.top-section{
  background: linear-gradient(135deg, #B6D444 0%,#B6D444);
}

.top-section4{
  background: linear-gradient(135deg, #EEBA1C 0%,#EEBA1C);
} 


/* .top-section3{
  background: linear-gradient(135deg, #35C4F3 0%, #35C4F3);
}

.top-section2{
  background: linear-gradient(135deg, #E8226B 0%, #E8226B);
}
 */
 

/* .bottom-section{
  background: #d4fef2;
} */
/* .section h1{
  font-size: 200px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.section p,
.section a{
  font-weight: 400;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Roboto', sans-serif;
}

.content-theme-dark h1{
  color: #f2932e;
  text-shadow: 0 20px 40px #97331d99;
}
.content-theme-dark p,
.content-theme-dark a{
  color: #ffffff;
}
.content-theme-light h1{
  color:#1B3659;
  text-shadow: 0 20px 40px rgba(0,0,0,.5);
}
.content-theme-light p,
.content-theme-light a{
  color: #728E93;
} */

.t-frase{
  color:#ffffff;
  margin-top: 50vh !important;
  font-size: 10vmin;
  font-weight: 100;
}

.p-frase{
  color:#ffffff;
  font-size: 3vmin !important;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  padding: 0 10%;
  /* margin-left: 100px;
  margin-right: 100px; */
}

.p-frase2{
  color:#ffffff;
  font-size: 5vmin !important;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center !important;
  /* margin-left: 5vh !important; */
}



/************** HOME - EVENTOS ******************/


.t-eventos{
  color:#ffffff;
  margin-top: 5vh;
  font-size: 40px;
  font-weight: 100;
}

.p-eventos{
  color:#ffffff;
  font-size: 20px;
  font-weight: 100;
}


/************** HOME - GALERIA ******************/

.t-galeria{
  color:#ffffff;
  font-size: 40px;
  font-weight: 100;
}

.p-galeria{
  color:#ffffff;
  font-size: 20px;
  font-weight: 100;
}



/************** HOME - ACTIVIDADES ******************/

.box-activ{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.conten-iconos-activ{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5vh;
 
  
}



.bx-activ-icono{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 400px;
  margin: 10px;
  
}

.conten-activ-text{
  height: 80px;
  margin-top: 10px;
  text-align: center;

}

.actividades-photo{
  background-image: url(../home/img/charla.jpg);
  background-size: cover;
  width:220px;
  height:220px;
  margin:10px;
  border-radius:220px;
  border-style: solid;
  border-width: 10px;
  border-color: #ffffff;
}

.actividades-photo2{
  background-image: url(../home/img/ficu8.jpg);
  background-size: cover;
  width:220px;
  height:220px;
  margin:10px;
  border-radius:220px;
  border-style: solid;
  border-width: 10px;
  border-color: #ffffff;
}

.actividades-photo3{
  background-image: url(../home/img/ficu5.jpg);
  background-size: cover;
  width:220px;
  height:220px;
  margin:10px;
  border-radius:220px;
  border-style: solid;
  border-width: 10px;
  border-color: #ffffff;
}

.actividades-photo4{
  background-image: url(../home/img/charla3.jpg);
  background-size: cover;
  width:220px;
  height:220px;
  margin:10px;
  border-radius:220px;
  border-style: solid;
  border-width: 10px;
  border-color: #ffffff;
}

.actividades-photo5{
  background-image: url(../home/img/charla3.jpg);
  background-size: cover;
  width:220px;
  height:220px;
  margin:10px;
  border-radius:220px;
  border-style: solid;
  border-width: 10px;
  border-color: #ffffff;
}




/************** HOME - EJES ******************/
.box-ejes{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.st-ejes{
  color:#4e4f84;
  margin-top: 2vh;
  font-size: 20px;
  font-weight: 500;
}

.sp-ejes{
  color:#4e4f84;
  font-size: 16px;
  font-weight: 100;
}

.div-ejes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  
}

.contenedor-iconos-ejes{
  display:flex;
  flex-direction:row;
 align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 2vh;
 
}



.conten-ejes-text{
  height: 80px;
  margin-top: 10px;
  text-align: center;
}
.ejes-photo{
  background-image: url(../home/img/icons/eje1.png);
  background-size: cover;
  width:170px;
  height:170px;
  margin:10px;
  border-radius:220px;
  border-style: solid;
  border-width: 10px;
  border-color: #ffffff;
 
}

.ejes-photo2{
  background-image: url(../home/img/icons/eje2.png);
  background-size: cover;
  width:170px;
  height:170px;
  margin:10px;
  border-radius:220px;
  border-style: solid;
  border-width: 10px;
  border-color: #ffffff;
}

.ejes-photo3{
  background-image: url(../home/img/icons/eje3.png);
  background-size: cover;
  width:170px;
  height:170px;
  margin:10px;
  border-radius:220px;
  border-style: solid;
  border-width: 10px;
  border-color: #ffffff;
}

.ejes-photo4{
  background-image: url(../home/img/icons/eje4.png);
  background-size: cover;
  width:170px;
  height:170px;
  margin:10px;
  border-radius:220px;
  border-style: solid;
  border-width: 10px;
  border-color: #ffffff;
}

.ejes-photo5{
  background-image: url(../home/img/icons/eje5.png);
  background-size: cover;
  width:170px;
  height:170px;
  margin:10px;
  border-radius:220px;
  border-style: solid;
  border-width: 10px;
  border-color: #ffffff;
}




.carousel-home-p{
  position: relative;
  background: rgb(102,103,171);
  background: linear-gradient(228deg, rgba(102,103,171,0.7) 0%, rgba(74,126,191,0.7) 100%); 

 
  
}

.carousel-gradiente{
 position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(102,103,171);
  background: linear-gradient(228deg, rgba(102,103,171,0.7) 0%, rgba(74,126,191,0.7) 100%); 
  z-index: 1;
  

}

.carousel-home-p h1{
  position: absolute;
  left: 50%;
  top: 55%;
  color: white;
  z-index: 2;

}

.logohome{
  position: absolute;
  left: 25%;
  top: 18%;
  width: 800px;
  z-index: 2;
}

.logohome img{
  width: 100%;
}


.subt-home{
  color:#ffffff ;
  position: absolute;
  top: 72%;
  left: 36%;
  font-weight: 100;
  font-size: 30px;
  text-align: center;
  z-index: 2;
}

.arrow-info{
  color:#ffffff ;
  font-size: 50px !important;
  position: absolute;
  top: 90%;
  left: 50%;
  
  z-index: 2;
}

.btn-header{
  background-color: var(--color-yellow);
  border-style: none;
  border-radius: 100px;
  font-size: 25px;
  position: absolute;
  top: 80%;
  left: 44.5%;
  z-index: 2;
  color: #ffffff;
}

.btn-header:hover{
  color: #ffffff;
  background-color: var(--color-bg);
}

