.subt-artistas{
    color:#ffffff ;
    position: absolute;
    top: 50%;
    left: 32.5%;
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    z-index: 2;
  }

  .titulo-artistas{
    color:#ffffff ;
    position: absolute;
    top: 40%;
    left: 35%;
    font-weight: 100;
    font-size: 100px;
    text-align: center;
    z-index: 2;
  }
  