/* PRINCIPIO MEDIA QUERY */


  /* responsive-movil */

  @media (min-width: 200px) and (max-width: 767px){

    .subt-artistas{
      color:#ffffff ;
      position: absolute;
      top: 70% !important;
      left: 28% !important;
      font-weight: 100;
      font-size: 10px !important;
      text-align: center;
      z-index: 2;
    }
  
    .titulo-artistas{
      color:#ffffff ;
      position: absolute;
      top: 50% !important;
      left: 24% !important;
      font-weight: 100;
      font-size: 40px !important;
      text-align: center;
      z-index: 2;
    }

  }
  
  
  
  
  
  
  /* responsive-tablet */
  
  @media (min-width: 767px) and (max-width: 991px){
  
    .subt-artistas{
      color:#ffffff ;
      position: absolute;
      top: 70% !important;
      left: 23% !important;
      font-weight: 100;
      font-size: 3vmin !important;
      text-align: center;
      z-index: 2;
    }
  
    .titulo-artistas{
      color:#ffffff ;
      position: absolute;
      top: 50% !important;
      left: 28% !important;
      font-weight: 100;
      font-size: 10vmin !important;
      text-align: center;
      z-index: 2;
    }
  
  }
  
  
  
  
  
  
  /* responsive-pc */
  
  @media (min-width: 991px) and (max-width: 1920px){
  
  
  
  }
  
  
  
  
  /* FINAL MEDIA QUERY */




.subt-artistas{
    color:#ffffff ;
    position: absolute;
    top: 53%;
    left: 32.5%;
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    z-index: 2;
  }

  .titulo-artistas{
    color:#ffffff ;
    position: absolute;
    top: 40%;
    left: 35%;
    font-weight: 100;
    font-size: 100px;
    text-align: center;
    z-index: 2;
  }
  

.box-artistas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10vh;
  margin-top: 2%;
}

.container-profile{
  padding: 25px;
  border: 2px solid var(--color-bg);
  width: 400px;
  border-radius: 2rem;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}

.artist-bio{
  text-align: justify;
  color: #737373;
  font-size: 16px;
  font-weight: 100;
}


.artist-profile-photo {
  width: 220px;
  height: 220px;
  border-radius: 220px;
  border-style: solid;
  border-width: 10px;
  border-color: #ffffff;

}

.artist-profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 220px;

}


.artist-links{
  display: flex;
  flex-direction: row;
}

.artist-icons{
  font-size: 30px;
  margin: 10px;
  color: var(--color-bg);
}


.profile-profesion {
  text-align: center;
  color: #737373;
  font-size: 22px;
  font-weight: 100;

}

