/* PRINCIPIO MEDIA QUERY */


  /* responsive-movil */

  @media (min-width: 200px) and (max-width: 767px){

    .subt-artistas{
      color:#ffffff ;
      position: absolute;
      top: 70% !important;
      left: 28% !important;
      font-weight: 100;
      font-size: 10px !important;
      text-align: center;
      z-index: 2;
    }
  
    .titulo-artistas{
      color:#ffffff ;
      position: absolute;
      top: 50% !important;
      left: 24% !important;
      font-weight: 100;
      font-size: 40px !important;
      text-align: center;
      z-index: 2;
    }

  }
  
  
  
  
  
  
  /* responsive-tablet */
  
  @media (min-width: 767px) and (max-width: 991px){
  
  
  
  }
  
  
  
  
  
  
  /* responsive-pc */
  
  @media (min-width: 991px) and (max-width: 1920px){
  
  
  
  }
  
  
  
  
  /* FINAL MEDIA QUERY */




.subt-artistas{
    color:#ffffff ;
    position: absolute;
    top: 50%;
    left: 32.5%;
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    z-index: 2;
  }

  .titulo-artistas{
    color:#ffffff ;
    position: absolute;
    top: 40%;
    left: 35%;
    font-weight: 100;
    font-size: 100px;
    text-align: center;
    z-index: 2;
  }
  














