.slideShow {
    // Total Slideshow dimensions
    width: 100vw;
    height: 100vh;
  
    // Each slide's global style
    * {
      width: 100vw;
      height: 100vh;
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  
  .slide3 {
    background-image: url(../home/img/ficu1.jpg);
  }
  .slide2 {
    background-image: url(../home/img/ficu2.jpg);
    animation: fade 15s 5s infinite ease-in-out;
  }
  .slide1 {
    background-image: url(../home/img/ficu8.jpg);
    animation: fade 15s infinite ease-in-out;
  }
  
  // SLideshow text Overlay
  .banner {
    width: 100vw;
    height: 100vh;
    font-size: 72px;
    color: #555;
    font-weight: 1000;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1.65px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  //Slideshow Animation
  @keyframes fade {
    0% {
      opacity: 1;
    }
    33% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    98% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }