


.banner-image-unete{
    background-image: url(../home/img/ficu3.jpg);
    background-size: cover;
    max-height: 90vh;
  }

  .gradient{
    background: rgb(102,103,171);
    background: linear-gradient(228deg, rgba(102,103,171,0.7) 0%, rgba(74,126,191,0.7) 100%); 
  }
  
  
  .tituloheader-unete{
    color:#ffffff9a ;
    font-size: 20vh;
    font-weight: 800;
    color: transparent;
    text-shadow: 0 0 1.3px rgba(255, 255, 255, 0.671);
    margin-top: 70vh;
  }
  
  .subtituloheader-contacto{
    color:#ffffff ;
    font-size: 6vh;
    font-weight: 400;
    color: transparent;
    text-shadow: 0 0 1.3px rgb(255, 255, 255);
  }
  
  .p-contacto{
    font-size: 15px;
    text-align: left !important;
    margin-left: 10vw;
    color: #000000;
    margin-right: 40px;
  }
  
  .t-contacto{
    text-align: left !important;
    margin-top: 23vh;
    margin-left: 10vw;
    font-size: 25px;
    font-weight: 300;
    color: #000000;
  }
  
  .parrafo-contacto{
    text-align: left !important;
    margin-left: 10vw;
    color: #000000;
    margin-right: 40px;
  }



  .p-junio{
    font-size: 20px;
    text-align: left !important;
    margin-left: 37vw;
    color: #737373;
    margin-right: 40px;
  }
  
  .t-junio{
    text-align: left !important;
    margin-top: 40px;
    margin-left: 46.5vw;
    font-size: 40px;
    font-weight: 500;
    color: #EEBA1C;
  }


  .p-julio{
    font-size: 20px;
    text-align: left !important;
    margin-left: 38vw;
    color: #737373;
    margin-right: 40px;
  }
  
  .t-julio{
    text-align: left !important;
    margin-top: 40px;
    margin-left: 46.5vw;
    font-size: 40px;
    font-weight: 500;
    color: #F16639;
  }


  .p-agosto{
    font-size: 20px;
    text-align: left !important;
    margin-left: 38vw;
    color: #737373;
    margin-right: 40px;
  }
  
  .t-agosto{
    text-align: left !important;
    margin-top: 40px;
    margin-left: 45.5vw;
    font-size: 40px;
    font-weight: 500;
    color: #E8226B;
  }

  .acordion{

    margin: 60px;
    width: 90vw;
  }
  