body{
  font-family: Roboto;
  background-color: #ffffff;
}



:root{
  --color-bg-dark:#1B3659;
  --color-bg:#6667AB;
  --color-bg-variant: #4A7EBF;
  --color-blue:#35C4F3;
  --color-green:#B6D444;
  --color-white:#fff;
  --color-yellow:#EEBA1C;
  --color-naranja:#F16639;
  --color-rosa:#E8226B;
}




















.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
